<%- include( 'partials/head', { title: title } ) -%>
    <%- include( 'partials/nav', { nav: nav } ) -%>

        <main class="container my-4">
            <h1>Blog App</h1>
            <hr />
            <h6>
                Welcome to Blog App. </h6><br>
                <p>You can view details of my articles on <b>Environmental Issues</b> here.
            </p>
        </main>

<%- include( 'partials/foot' ) -%>
